@charset "utf-8";
/* CSS Document */
body {
    width: 100%;
    background-image: url("../img/wallpaper.gif");
    background-attachment: fixed;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: #dbdbdb;
    margin: 0;
    text-align: center;
}

vid {
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color:#ff9e43;
    margin: 0;
    text-align: center;
}
.principal {
  width: 1200px;
  height: 1000px;
  margin: auto;
}
.menu {
  transition:1s;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 1200px;
  height: 50px;
  background-color: #414141;
  text-align: center;
}
.menu a {

  transition:1.5s;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 2px 75px 16px 75px;
  margin-top: 12px;
  border-top: 2px solid transparent;
}
.menu a:hover {
  color: #854dff;
  border-top: 2px solid #854dff;
  
}